*{
    margin: 0;
}
.container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: black;
}
nav{

/* background-color: rgba(225, 225, 225,1); */
border-radius: 30px;

}
a{
padding: 0.5rem 1rem;
display: inline-block;
margin: 0.5rem 0.5rem;
text-decoration: none;
color: white;
font-size: 1rem;
position: relative;
transition:ease-in-out 0.5s;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
border-radius: 30px;
}
a:hover{
    background: black;
    color: white;
    letter-spacing: 3px;
    border-bottom: 5px solid orange;
    border-radius: 20px;
    border-right: 5px solid orange;
}