.itemContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}
.item img{
    width: 100%;
}
.info p:first-child{
    font-size: 1.2rem;
    font-weight: bold;
}
.info p:nth-child(2){
    line-height: 200%;
    text-align: justify;
}
.info p span:first-child{
    background-color: orange;
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
    padding: 3px;
    margin-right: 5px;
}
.info p span:nth-child(2){
   font-size: 1.5rem; 
   font-weight: bold;
}
.info a{
    text-decoration: none;
    display: inline-block;
    background: black;
    color: white;
    padding: 0.5rem 1.3rem;
    border-radius: 30px;
}
@media screen and (max-width:950px){
    .itemContainer{
        display: grid;
        grid-template-columns: 1fr;
    }
    .item{
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 1rem;
    }
}
@media screen and (max-width:800px) {
    .itemContainer{
        display: grid;
        grid-template-columns: 1fr;
    }
    .item{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}